@CHARSET "ISO-8859-1";

body {
	margin: auto;
	
	width: 1000px;
	box-shadow: 0px 0px 20px #5E5E5E;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 10px;
}

.filariane {
	margin-left: 10px;
}

.tabs-left {
	border-top:1px solid #DDDDDD;
}

.footer {
	text-align: center;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	color: #AAA;
}

.login-input {
	height: 30px !important;
}

/*
	Style spécifique pour hacker celui par défaut du fileuploader
*/
#file-uploader {
	margin-left: 10px ;
}

.qq-upload-drop-area, .qq-upload-drop-area-active, .qq-upload-button {
	
	padding-top: 11px !important;
	padding-bottom: 11px !important;
	width: 100% !important;
	height: 21px !important;
	min-height: 21px !important;
	border-radius: 6px 6px 6px 6px;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) !important;
	border-style: solid !important;
    border-width: 1px !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6) !important;
    background-repeat: repeat-x !important;
    background-color: #F5F5F5 !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    vertical-align: middle;
    
}

.qq-upload-drop-area span, .qq-upload-drop-area, .qq-upload-drop-area-active, .qq-upload-button {
	margin-bottom: 0 !important;
	color: #333333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: normal !important;
    font-size: 17.5px !important;
}

.qq-upload-button:HOVER {
	background-color: #E6E6E6 !important;
	background-position: 0 -15px !important;
	text-decoration: none !important;
	transition: background-position 0.1s linear 0s !important;
}

.qq-upload-drop-area, .qq-upload-drop-area-active, .qq-upload-button:ACTIVE {
	background-color: #E6E6E6 !important;
    background-image: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    outline: 0 none !important;
}

.qq-upload-drop-area, .qq-upload-drop-area-active {
	height: 180px !important;	
	top: -159px !important;
}

.qq-upload-list {
	display: none;
}

.qq-upload-button > input {
	height: 100%;
}

/*
	End style fileuploader
*/


.buttons-bottom {
	margin-top: 20px;
	padding-top: 12px;
	border-top: 1px solid #E5E5E5;
}


/*
	Liste de thumbnails
*/
ul.upload-thumbnails {
	min-height: 380px;
}

ul.upload-thumbnails > [class*="span"]{
	margin-left: 1.8% !important;
}

ul.upload-thumbnails .thumbnail {
	height: 160px;
}

ul.upload-thumbnails .thumbnail > [id*="progressbar_"] {
	margin-top: 63.5px;
}

ul.upload-thumbnails .thumbnail span {
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
}

ul.upload-thumbnails .thumbnail img.listeAlbum {
	height: 120px !important; /* encore un coup de bootstrap qui défini âr défaut la hauteur en auto */
}

.englober {
	padding-top: 12px;
	padding-bottom: 12px;
}

/*
	Les notifications
*/
#notification-box {
	left: 50%; position: absolute; top: 55px; width: 400px; margin-left: -200px; text-align: center;
}
#notification-box .notif {
	width: 100%;
	border-radius: 6px 6px 6px 6px;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border-style: solid;
    border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
	padding: 3px;
	margin-bottom: 3px;
	background-image: linear-gradient(to bottom, #eabf0b, #ffbf0b);
    background-repeat: repeat-x;
    background-color: #ffbf0b;
}